---
import Nav from "components/Nav/index.astro";
import "@fontsource/lato";
import "@fontsource-variable/plus-jakarta-sans";
import heroBgImg from "../assets/heroBgImage.svg";
import heroBgImgMobile from "../assets/heroBgImageMobile.svg";
import Footer from "components/Footer";
import { getCollection } from "astro:content";

export interface Props {
	title: string;
}

export const prerender = true;

const { title } = Astro.props;

const footerLinks = await getCollection("footerLinks");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-lato w-full h-full container overflow-x-hidden relative">
		<div class="w-full absolute top-0 z-[-1]">
			<img src={heroBgImg?.src} class="hidden lg:flex w-full" />
			<img src={heroBgImgMobile?.src} class="lg:hidden w-full" />
		</div>
		<Nav />
		<slot />
		<section
			class="w-full px-container-base lg:px-container-lg xl:px-container-xl py-[1.5rem]"
		>
			<Footer data={footerLinks} />
		</section>
	</body>
</html>
<style is:global>
	:root {
	}
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	html {
		font-size: 14px;
	}
</style>
